# Variable

### Create a variable named carname and assign the value Volvo to it.

In [ ]:
carname = "Volvo"

### Create a variable named x and assign the value 50 to it.

In [ ]:
x = 50

### Display the sum of 5 + 10, using two variables: x and y.

In [ ]:
x = 5
y = 10
sum = x + y
print("the sum is = "+str(sum))

### Create a variable called z, assign x + y to it, and display the result.

In [ ]:
x = 5
y = 10
z = x + y
print("the sum is = "+str(z))

### Remove the illegal characters in the variable name:

In [ ]:
#@variable = "value"
variable = "value"

### Insert the correct syntax to assign the same value to all three variables in one code line.

In [ ]:
x = y = z = "hello world"

### The following code example would print the data type of x, what data type would that be?

In [ ]:
x = 123456
print(type(x))

### The following code example would print the data type of x, what data type would that be?

In [ ]:
x = "hello world"
print(type(x))

### The following code example would print the data type of x, what data type would that be?

In [ ]:
x = ["hello","world"]
print(type(x))

### The following code example would print the data type of x, what data type would that be?

In [ ]:
x= (123,456)
print(type(x))

### The following code example would print the data type of x, what data type would that be?

In [ ]:
x = {
    "key1": 123,
    "ket2": 456
}
print(type(x))

### The following code example would print the data type of x, what data type would that be?

In [ ]:
x = True
print(type(x))

### The following code example would print the data type of x, what data type would that be?

In [ ]:
x = 121.516841
print(type(x))

### Insert the correct syntax to convert x into a floating point number.

In [ ]:
x = float(215.5684)
# x = 215.5684

### Insert the correct syntax to convert x into a integer.

In [ ]:
x = int(15351)
x = 15351

### Use the len method to print the length of the string.

In [ ]:
x = "hello world"
print(len(x))

### Get the first character of the string txt.

In [23]:
x = "hello world"
print(x[0])

### Get the characters from index 2 to index 4 (llo).

In [24]:
x = "hello world"
print(x[1:4])

### Return the string without any whitespace at the beginning or the end.

In [25]:
x = "    hello world     "
print(x.strip())

### Convert the value of txt to upper case.

In [26]:
x = "hello world"
print(x.upper())

### Convert the value of txt to lower case.

In [27]:
x = "hello world"
print(x.lower())

### Replace the character H with a J.

In [ ]:
x = "hello world"
print(x.replace("h","j"))

### Using format function to print the age

In [ ]:
age = 21
print("hello there ,my age is {}".format(age))

### The statement below would print a Boolean value, which one?

In [ ]:
print(3==3)

In [ ]:
print(5>2)

In [ ]:
x = True
print(x)

### Multiply 10 with 5, and print the result.

In [ ]:
x = 10
y = 5
print(x * y)

### Divide 10 by 2, and print the result.

In [ ]:
x = 10
y = 2
print(x / y)

### Create a list and check if the value in this list or not

In [ ]:
x = [0, 1, 2, 3]
if 0 in x:
    print(True)

### Use the correct comparison operator to check if 5 is not equal to 10.

In [ ]:
if 5 != 10:
    print(True)

### Use the correct logical operator to check if at least one of two statements is True.

In [ ]:
x = 10
y = 15
if x > 0 or y % 2 == 0:
    print("At least one of the conditions is True")
else:
    print("Both of the conditions are False")

### Print the second item in the fruits list.

In [30]:
fruits = ["apple","grape","orange","banana"]
print(fruits[1])

### Change the value from "apple" to "kiwi", in the fruits list.

In [ ]:
fruits = ["apple", "grape", "strawberry", "banana"]
fruits[0] = "kiwi"
print(fruits)

###  Use the append method to add "orange" to the fruits list.

In [ ]:
fruits = ["apple", "grape", "orange", "banana"]
fruits.append("orange")
print(fruits)

### Use the insert method to add "lemon" as the second item in the fruits list.

In [ ]:
fruits = ["apple", "grape", "orange", "banana"]
fruits.insert(1, "lemon")
print(fruits)

### Use the remove method to remove "banana" from the fruits list.

In [ ]:
fruits = ["apple", "grape", "orange", "banana"]
fruits.remove("banana")
print(fruits)

### Use negative indexing to print the last item in the list.

In [ ]:
fruits = ["apple", "grape", "orange", "banana"]
print(fruits[-1])

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [31]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in range(2, 5):
    print(x[i])

### Use the correct syntax to print the number of items in the list.

In [32]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(len(x))

### Use the correct syntax to print the first item in the fruits tuple.

In [33]:
fruits = ("apple", "grape", "orange", "banana")
print(fruits[0])

### Use the correct syntax to print the number of items in the fruits tuple.

In [34]:
fruits = ("apple", "grape", "orange", "banana")
print(len(fruits))

### Use the add method to add "orange" to the fruits set.

In [35]:
fruits = {"apple", "banana", "strawberry"}
fruits.add("orange")
print(fruits)

### Use the correct method to add multiple items (more_fruits) to the fruits set.

In [36]:
fruits = {"apple", "banana", "strawberry"}
more_fruits = {"orange", "grape", "kiwi"}

fruits.update(more_fruits)

print(fruits)

### Use the remove method to remove "banana" from the fruits set.

In [37]:
fruits = {"apple", "banana", "strawberry"}
fruits.remove("banana")
print(fruits)

### Use the get method to print the value of the "model" key of the car dictionary.

In [41]:
car = {"brand": "AUDI", "model": "RS6", "year": 2023}
model = car.get("model")
print(model)

### Change the "year" value from 1964 to 2020.

In [ ]:
car = {"brand": "AUDI", "model": "RS6", "year": 1964}
car["year"] = 2020
print(car)

### Add the key/value pair "color" : "red" to the car dictionary.

In [ ]:
car = {"brand": "AUDI", "model": "RS6", "year": 1964}
car["color"] = "red"
print(car)

### Use the pop method to remove "model" from the car dictionary.

In [ ]:
car = {"brand": "AUDI", "model": "RS6", "year": 1964}
car.pop("model")
print(car)

### Use the clear method to empty the car dictionary.

In [ ]:
car = {"brand": "AUDI", "model": "RS6", "year": 1964}
car.clear()
print(car)

### Print "1" if a is equal to b, print "2" if a is greater than b, otherwise print "3".

In [ ]:
a = 12
b = 30

if a == b:
    print("1")
elif a > b:
    print("2")
else:
    print("3")

### This example misses indentations to be correct.

Insert the missing indentation to make the code correct:

In [ ]:
???

### Use the correct short hand syntax to write the following conditional expression in one line:

In [ ]:
???

### Print i as long as i is less than 6.

In [ ]:
i = 0
while i<6:
    print(i)
    i+=1

### Stop the loop if i is 3.

In [ ]:
i = 0
while i<6:
    print(i)
    i+=1
    if i ==3:
        break

### In the loop, when i is 3, jump directly to the next iteration.

In [ ]:
for i in range(10):
    if i == 3:
        continue
    print(i)

### Print a message once the condition is false.

In [ ]:
for i in range(10):
    print(i)
else:
    print("The loop is over")

### In the loop, when the item value is "banana", jump directly to the next item.

In [ ]:
fruits = ["apple", "banana", "strawberry"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

### Use the range function to loop through a code set 6 times.

In [ ]:
for i in range(6):
    print(i)

### Exit the loop when x is "banana".

In [ ]:
fruits = ["apple", "banana", "strawberry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

### Create a function named my_function.

In [ ]:
def my_function():
    print("hello world")

### Execute a function named my_function.

In [ ]:
def my_function():
    print("hello world")
    
my_function()

### Inside a function with two parameters, print the first parameter.

In [ ]:
def my_function(x, y):
    print(x)

### Let the function return the x parameter + 5.

In [ ]:
def my_function(x, y):
    return x+5

### If you do not know the number of arguments that will be passed into your function, there is a prefix you can add in the function definition, which prefix?

In [ ]:
def my_function(*arg):
    pass

### If you do not know the number of keyword arguments that will be passed into your function, there is a prefix you can add in the function definition, which prefix?

In [ ]:
def my_function(**keyword):
    pass

### Create a lambda function that takes one parameter (a) and returns it.

In [ ]:
f = lambda a:a

### Implement a function to find all prime numbers up to a given number n. Assume n is a positive integer.

In [ ]:
def prime(n):
  numbers = list(range(2, n + 1))
  primes = []
  while numbers:
    prime = numbers[0]
    primes.append(prime)
    numbers = [num for num in numbers if num % prime != 0]
  return primes

###  Implement a generator function to generate the Fibonacci sequence up to a given n terms.

In [ ]:
def fibonacci(n):
  a = 1
  b = 1
  for i in range(n):
    yield a
    a, b = b, a + b

### Write a function to compute the power of a number x raised to the power n using recursion.

In [ ]:
def power(x, n):
  if n == 0:
    return 1
  elif n > 0 and n % 2 == 0:
    return power(x, n // 2) ** 2
  elif n > 0 and n % 2 == 1:
    return x * power(x, n - 1)
  else:
    return 1 / power(x, -n)